.main-icon h1{
    text-align: center;
    margin-top: 5vh;
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(88, 182, 192);
    font-size: 50px;
    margin-bottom: 15vh;
}

.main-icon span{
    color: rgb(122,140,142)
}

th{
    border: solid 1px white;
    text-align: center;
}

td{
    border: solid 1px white;
    text-align: center;
}

.add {
    display: flex;
    justify-content: center;
}

.add input{
width: 50vh;
}
.add button {
    width: 50vh;
    display: none;
}

.message .success {
    font-size: 20px;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
    width: 50vh;
    text-align: center;
}

.message .danger {
    font-size: 20px;
    color: red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
    font-family: verdana;
    width: 50vh;
    text-align: center;
}

select{
    display: none;
}

